<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chat Room</title>
            <!-- 引入jQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <!-- 引入Socket.IO客户端库 -->
            <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
            <!-- 本地js文件 -->
            <script type="text/javascript" src="{{ url_for('static',filename='JavaScript/index.js') }}"></script>
            <!-- 本地css文件 -->
            <link rel="stylesheet" href="{{ url_for('static',filename='CSS/index.css') }}">
    </head>
    <body>
        <div class="navbar">
            <image id="avatar" src="./static/images/avatar.jpg"></image>
            <a href="/index">首页</a>
            <a href="/help">帮助</a>
            <a href="/setting">设置</a>
            <a href="/information">个人信息</a>
            <a href="/logout">退出登录</a>
        </div>
        <div class="chat-container">
            <div class="chat-header">
                <h2>聊天室</h2>
                <form id="join_room" method="post" action="#">
                    <label>房间号:</label>
                    <input type="text" id="room_num" required>
                    <input type="submit" id="submit_room_num" value="加入房间">
                </form>
                <button id="leave_room_button">离开房间</button>
            </div>
            <div class="chat-history" id="chat_history">
                <ul id="chat_content"></ul>
            </div>
            <form id="submit_from" method="post" action="#">
                <textarea placeholder="请输入..." name="message" id="message" required></textarea>
                <button type="submit">发送</button>
            </form>
        </div>
    </body>
</html>
